// app global css in SCSS form
.san-grail {
  width: min(100vw, 800px);
  width: min(100%, 800px);
}

.work-area {
  width: 90vw;
  min-height: 80vh;
}

.manager-header {
  margin: 30px 20px;
}

.main-btn-group {
  //margin: 20px 0;
  margin: 5px 0;
  display: flex;
  justify-content: flex-end;
}
